{
  "htmlWhitespaceSensitivity": "css",
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
