{
  "plugins": ["prettier-plugin-go-template", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./assets/css/main.css",
  "htmlWhitespaceSensitivity": "css",
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
