<!DOCTYPE html>
<html dir="{{ .Site.Language.LanguageDirection | default "ltr" }}" lang="{{ with .Site.Language.Lang }}{{ . }}{{ else }}en{{ end }}">
  {{ partial "head.html" . }}
  <body class="w-full min-h-full" x-data="{ up: false }">
    {{ partial "dev-size-indicator.html" . }}
    {{ partial "header.html" . }}
    <main class="container flex flex-row px-6 mx-auto my-6 lg:px-8 xl:px-12 max-w-7xl">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "dev-parameters.html" . }}
  </body>
</html>
