{{ define "main" }}
  <article class="mx-auto min-w-0 max-w-prose flex-grow text-lg lg:text-xl">
    <header class="text-base">
      {{- if .Site.Params.article.showBreadcrumbs | default false }}
        {{- partial "breadcrumbs.html" . }}
      {{- end }}
      <h1
        class="my-3 text-3xl font-semibold text-neutral-800 dark:text-neutral-200"
        x-intersect:enter="up = false"
        x-intersect:leave="up = true"
      >
        {{- .Title | emojify }}
      </h1>
      <div class="mb-6 text-base text-neutral-500 dark:text-neutral-400">
        {{ partial "article-meta.html" (dict "context" . "scope" "single") }}
      </div>
    </header>
    <section class="prose max-w-none text-base  dark:prose-invert">
      {{ .Content | emojify }}
    </section>
    <footer class="pt-8">
      {{ partial "author.html" . }}
      {{ partial "sharing-links.html" . }}
      {{ partial "article-pagination.html" . }}
    </footer>
    {{- if templates.Exists "partials/comments.html" }}
      {{ partial "comments.html" . }}
    {{- end }}
  </article>
  {{ partial "aside.html" . }}
{{- end }}
