/* Scale SVG icons to text size */
.icon svg {
  height: 1.25em;
  width: 1.25em;
}

body {
  @apply bg-neutral-50 text-neutral-700 dark:bg-neutral-800 dark:text-neutral-300;
}

/* Heading anchors */
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply relative;
}

.prose .heading-anchor {
  @apply absolute -left-5 top-0 no-underline opacity-0;
}

.prose .heading-anchor:hover,
.prose .heading-anchor:focus,
.prose h2:hover > .heading-anchor,
.prose h3:hover > .heading-anchor,
.prose h4:hover > .heading-anchor,
.prose h5:hover > .heading-anchor,
.prose h6:hover > .heading-anchor {
  @apply opacity-100;
}

.prose figure:lang(zh) {
  @apply mx-0 my-4;
  /* margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 16px;
  margin-block-end: 16px; */
}

.prose h1:lang(zh),
.prose h2:lang(zh),
.prose h3:lang(zh) {
  @apply mt-6 font-semibold tracking-wider;
  /* margin-block-start: 24px;
  font-weight: 600; */
}

.prose h4:lang(zh),
.prose h5:lang(zh) {
  @apply mb-3 mt-6 font-semibold;
  /* margin-block-start: 24px;
  margin-block-end: 12px;
  font-weight: 600; */
}

.prose h6:lang(zh) {
  @apply mb-3 mt-6;
  /* margin-block-start: 24px;
  margin-block-end: 12px; */
}

.prose h1:lang(zh) + h2,
.prose h2:lang(zh) + h3,
.prose h3:lang(zh) + h4,
.prose h4:lang(zh) + h5,
.prose h5:lang(zh) + h6 {
  @apply mt-3;
  /* margin-block-start: 12px; */
}

.prose h1:lang(zh) {
  @apply mb-6 text-3xl leading-12;
  /* margin-block-end: 24px;
  font-size: 32px;
  line-height: 48px; */
}

.prose h2:lang(zh) {
  @apply mb-3 text-2xl leading-9;
  /* margin-block-end: 12px;
  font-size: 24px;
  line-height: 36px; */
}

.prose h3:lang(zh) {
  @apply mb-3 text-xl leading-9;
  /* margin-block-end: 12px;
  font-size: 20px;
  line-height: 36px; */
}

.prose h4:lang(zh) {
  /* font-size: 18px;
  font-weight: 600;
  line-height: 24px; */
  @apply text-lg font-semibold leading-6;
}

.prose hr:lang(zh) {
  /* width: 30%;
  margin-block-start: 48px;
  margin-block-end: 47px;
  margin-inline-start: auto;
  margin-inline-end: auto; */
  @apply mx-auto mb-[47px] mt-12 w-1/3;
}

.prose p:lang(zh) {
  /* margin-block-start: 12px;
  margin-block-end: 24px; */
  @apply mb-6 mt-3;
  /* text-align: justify; */
}

.prose pre:lang(zh) {
  /* margin-block-start: 12px;
  margin-block-end: 12px; */
  @apply my-3;
}

.prose ul:lang(zh),
.prose ol:lang(zh),
.prose dl:lang(zh) {
  /* margin-block-start: 12px;
  margin-block-end: 24px; */
  @apply mb-6 mt-3;
}

.prose ul:lang(zh) > li,
.prose ol:lang(zh) > li,
.prose dl:lang(zh) > li {
  /* margin-block-start: 0;
  margin-block-end: 0; */
  @apply my-0;
}

.prose ul:lang(zh) ul,
.prose ul:lang(zh) ol,
.prose ol:lang(zh) ul,
.prose ol:lang(zh) ol {
  /* margin-block-start: 0;
  margin-block-end: 0; */
  @apply my-0;
}

.prose ol:lang(zh) > li::before {
  /* left: 4px; */
  @apply left-1;
}

.prose ul:lang(zh) > li::before {
  /* top: 9px; */
  @apply top-2;
}

.prose table:lang(zh) {
  /* box-sizing: border-box;
  margin-block-start: 12px;
  margin-block-end: 24px;
  margin-inline-start: auto;
  margin-inline-end: auto; */
  @apply mx-auto mb-6 mt-3 box-border border-neutral-300 dark:border-neutral-600;
}

.prose thead:lang(zh) th,
.prose tbody:lang(zh) td {
  /* padding-block-start: 6px;
  padding-block-end: 6px;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  border-width: 1px;
  border-collapse: collapse;
  border-style: solid; */
  @apply border-collapse border border-solid border-neutral-300 p-2 dark:border-neutral-600;
}

.prose tbody:lang(zh) tr {
  /* border-bottom-width: 0px;
  border-collapse: collapse; */
  @apply border-collapse border-b-0;
}

.prose tbody:lang(zh) tr:last-child {
  /* border-bottom-width: 0px;
  border-collapse: collapse; */
  @apply border-collapse border-b-0;
}

.prose thead:lang(zh) tr:first-child {
  /* border-top-width: 0px;
  border-collapse: collapse; */
  @apply border-collapse border-t-0;
}

.prose thead:lang(zh) th:last-child,
.prose tbody:lang(zh) td:first-child {
  /* padding-inline-end: 8px; */
  @apply px-2;
}

.prose thead:lang(zh) th:first-child,
.prose tbody:lang(zh) td:last-child {
  /* padding-inline-start: 8px; */
  @apply pl-2;
}

.prose :lang(zh) code::before,
.prose :lang(zh) code::after {
  /* content: none;
  width: 4px; */
  @apply w-1 content-none;
}

.prose blockquote:lang(zh) {
  quotes: "「" "」" "『" "』";
  font-style: normal;
}

.prose dd:lang(zh) {
  /* margin-inline-start: 32px; */
  @apply ml-8;
}

.prose .footnote-ref {
  @apply no-underline;
}

.prose .footnote-backref {
  @apply no-underline;
}

/* Pagination */
.pagination {
  @apply flex justify-center;
}

.pagination .page-item {
  @apply flex items-center;
}

.pagination .page-item .page-link {
  @apply m-2 p-2;
}

.pagination .active {
  @apply text-primary-700 dark:text-primary-400;
}

.pagination .page-item:not(.disabled):hover {
  @apply text-primary-700 dark:text-primary-400;
}

/* Article pagination */
.article-pagination {
  @apply pt-8;
}

.article-pagination > div {
  @apply flex justify-between pt-3;
}

.article-pagination hr {
  @apply border-dotted border-neutral-300 dark:border-neutral-600;
}

.article-pagination .article-pagination-date {
  @apply -mt-0 text-sm text-neutral-500 dark:text-neutral-400;
}

.article-pagination a:hover .article-pagination-title {
  @apply text-primary-700 underline decoration-primary-700 dark:text-primary-400;
}

.article-pagination a:hover .article-pagination-direction {
  @apply text-primary-700 dark:text-primary-400;
}

/* -- Chroma Highlight -- */
/* Background */
.prose .chroma {
  @apply rounded-md bg-neutral-100 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-200;
}
/* Other */
.chroma .x {
}
/* Error */
.chroma .err {
}
/* LineTableTD */
.chroma .lntd,
.chroma .lntd pre {
  @apply m-0 border-none p-0 align-top;
}
/* LineTable */
.chroma .lntable {
  @apply block w-auto overflow-hidden px-4 py-3 text-base;
  border-spacing: 0;
}
/* LineHighlight */
.chroma .hl {
  @apply -mx-4 block w-auto bg-primary-100 px-4 dark:bg-primary-900;
}
.chroma .lntd .hl {
  @apply m-0 p-0;
}
/* LineNumbersTable */
.chroma .lnt {
  @apply mr-2 px-2 py-0 text-neutral-600 dark:text-neutral-300;
  /* margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em; */
}
/* LineNumbers */
.chroma .ln {
  @apply mr-2 px-2  py-0 text-neutral-600 dark:text-neutral-300;
  /* margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em; */
}
/* Keyword */
.chroma .k {
  @apply text-primary-600 dark:text-primary-300;
}
/* KeywordConstant */
.chroma .kc {
  @apply font-semibold text-secondary-400 dark:text-secondary-500;
}
/* KeywordDeclaration */
.chroma .kd {
  @apply text-primary-600 dark:text-primary-300;
}
/* KeywordNamespace */
.chroma .kn {
  @apply text-primary-600 dark:text-primary-300;
}
/* KeywordPseudo */
.chroma .kp {
  @apply text-primary-600 dark:text-primary-300;
}
/* KeywordReserved */
.chroma .kr {
  @apply text-primary-600 dark:text-primary-300;
}
/* KeywordType */
.chroma .kt {
  @apply text-secondary-400 dark:text-secondary-600;
}
/* Name */
.chroma .n {
  @apply text-secondary-900 dark:text-secondary-200;
}
/* NameAttribute */
.chroma .na {
  @apply text-secondary-800 dark:text-secondary-300;
}
/* NameBuiltin */
.chroma .nb {
  @apply text-secondary-800 dark:text-secondary-300;
}
/* NameBuiltinPseudo */
.chroma .bp {
  @apply text-secondary-800 dark:text-secondary-300;
}
/* NameClass */
.chroma .nc {
  @apply text-primary-600 dark:text-primary-300;
}
/* NameConstant */
.chroma .no {
  @apply font-semibold text-secondary-400 dark:text-secondary-500;
}
/* NameDecorator */
.chroma .nd {
  @apply text-secondary-900 dark:text-secondary-200;
}
/* NameEntity */
.chroma .ni {
  @apply text-secondary-900 dark:text-secondary-200;
}
/* NameException */
.chroma .ne {
  @apply font-semibold text-secondary-400 dark:text-secondary-500;
}
/* NameFunction */
.chroma .nf {
  @apply text-secondary-600 dark:text-secondary-500;
}
/* NameFunctionMagic */
.chroma .fm {
  @apply text-primary-600 dark:text-primary-300;
}
/* NameLabel */
.chroma .nl {
  @apply text-secondary-900 dark:text-secondary-200;
}
/* NameNamespace */
.chroma .nn {
  @apply text-primary-600 dark:text-primary-300;
}
/* NameOther */
.chroma .nx {
  @apply text-secondary-800 dark:text-secondary-300;
}
/* NameProperty */
.chroma .py {
  color: #cebc3a;
}
/* NameTag */
.chroma .nt {
  @apply text-secondary-800 dark:text-secondary-300;
}
/* NameVariable */
.chroma .nv {
  @apply text-secondary-400 dark:text-secondary-600;
}
/* NameVariableClass */
.chroma .vc {
  @apply text-primary-600 dark:text-primary-300;
}
/* NameVariableGlobal */
.chroma .vg {
  @apply font-semibold text-secondary-400 dark:text-secondary-500;
}
/* NameVariableInstance */
.chroma .vi {
  @apply text-secondary-400 dark:text-secondary-600;
}
/* NameVariableMagic */
.chroma .vm {
  @apply text-secondary-400 dark:text-secondary-600;
}
/* Literal */
.chroma .l {
  @apply text-primary-800 dark:text-primary-400;
}
/* LiteralDate */
.chroma .ld {
  @apply text-primary-800 dark:text-primary-400;
}
/* LiteralString */
.chroma .s {
  @apply text-primary-800 dark:text-primary-400;
}
/* LiteralStringAffix */
.chroma .sa {
  @apply text-primary-800 dark:text-primary-400;
}
/* LiteralStringBacktick */
.chroma .sb {
  @apply text-primary-800 dark:text-primary-400;
}
/* LiteralStringChar */
.chroma .sc {
  @apply text-primary-800 dark:text-primary-400;
}
/* LiteralStringDelimiter */
.chroma .dl {
  @apply text-primary-800 dark:text-primary-400;
}
/* LiteralStringDoc */
.chroma .sd {
  @apply text-primary-800 dark:text-primary-400;
}
/* LiteralStringDouble */
.chroma .s2 {
  @apply text-primary-800 dark:text-primary-400;
}
/* LiteralStringEscape */
.chroma .se {
  @apply font-semibold text-secondary-400 dark:text-secondary-500;
}
/* LiteralStringHeredoc */
.chroma .sh {
  @apply text-primary-800 dark:text-primary-400;
}
/* LiteralStringInterpol */
.chroma .si {
  @apply text-primary-800 dark:text-primary-400;
}
/* LiteralStringOther */
.chroma .sx {
  @apply text-primary-800 dark:text-primary-400;
}
/* LiteralStringRegex */
.chroma .sr {
  @apply font-semibold text-primary-800 dark:text-primary-400;
}
/* LiteralStringSingle */
.chroma .s1 {
  @apply text-primary-800 dark:text-primary-400;
}
/* LiteralStringSymbol */
.chroma .ss {
  @apply font-semibold text-primary-800 dark:text-primary-400;
}
/* LiteralNumber */
.chroma .m {
  @apply text-secondary-400 dark:text-secondary-600;
}
/* LiteralNumberBin */
.chroma .mb {
  @apply text-secondary-400 dark:text-secondary-600;
}
/* LiteralNumberFloat */
.chroma .mf {
  @apply text-secondary-400 dark:text-secondary-600;
}
/* LiteralNumberHex */
.chroma .mh {
  @apply text-secondary-400 dark:text-secondary-600;
}
/* LiteralNumberInteger */
.chroma .mi {
  @apply text-secondary-400 dark:text-secondary-600;
}
/* LiteralNumberIntegerLong */
.chroma .il {
  @apply text-secondary-400 dark:text-secondary-600;
}
/* LiteralNumberOct */
.chroma .mo {
  @apply text-secondary-400 dark:text-secondary-600;
}
/* Operator */
.chroma .o {
  @apply text-primary-600;
}
/* OperatorWord */
.chroma .ow {
  @apply font-semibold text-primary-400 dark:text-primary-600;
}
/* Punctuation */
.chroma .p {
}
/* Comment */
.chroma .c {
  @apply italic text-neutral-400 dark:text-neutral-500;
}
/* CommentHashbang */
.chroma .ch {
  @apply font-semibold italic text-neutral-400 dark:text-neutral-500;
}
/* CommentMultiline */
.chroma .cm {
  @apply italic text-neutral-400 dark:text-neutral-500;
}
/* CommentSingle */
.chroma .c1 {
  @apply italic text-neutral-400 dark:text-neutral-500;
}
/* CommentSpecial */
.chroma .cs {
  @apply italic text-neutral-400 dark:text-neutral-500;
}
/* CommentPreproc */
.chroma .cp {
  @apply italic text-neutral-400 dark:text-neutral-500;
}
/* CommentPreprocFile */
.chroma .cpf {
  @apply italic text-neutral-400 dark:text-neutral-500;
}
/* Generic */
.chroma .g {
}
/* GenericDeleted */
.chroma .gd {
}
/* GenericEmph */
.chroma .ge {
  @apply italic;
}
/* GenericError */
.chroma .gr {
}
/* GenericHeading */
.chroma .gh {
  @apply font-semibold text-neutral-500;
}
/* GenericInserted */
.chroma .gi {
  @apply text-primary-800 dark:text-primary-400;
}
/* GenericOutput */
.chroma .go {
  @apply text-primary-800 dark:text-primary-400;
}
/* GenericPrompt */
.chroma .gp {
  @apply text-primary-800 dark:text-primary-400;
}
/* GenericStrong */
.chroma .gs {
  @apply font-semibold;
}
/* GenericSubheading */
.chroma .gu {
  @apply text-neutral-500;
}
/* GenericTraceback */
.chroma .gt {
  @apply text-neutral-500;
}
/* GenericUnderline */
.chroma .gl {
  @apply underline;
}
/* TextWhitespace */
.chroma .w {
}

#TableOfContents ul {
  @apply list-none pl-0 pt-2;
}

#TableOfContents ul ul {
  @apply pl-4 pt-0;
}

#TableOfContents li {
  @apply my-1;
}

#TableOfContents li a {
  @apply block border-l-2 border-transparent pl-2;
}

#TableOfContents li.active > a {
  @apply block border-l-2 border-primary-500 pl-2;
}

/* Tabs shortcode (todo: use peer-checked if hugo support jit-mode directly ) */
.tabs {
  @apply my-4 flex flex-wrap overflow-hidden rounded-md border border-neutral-500;
}

.tab-label {
  @apply inline-block cursor-pointer border-b-2 border-transparent px-4 py-1 hover:text-primary-500;
}

.tab-content {
  @apply order-last w-full border-t border-neutral-500 p-4;
}

.tab-control:checked + .tab-label {
  @apply border-primary-500 text-primary-500;
}

.tab-control:checked + .tab-label + .tab-content {
  @apply block !important;
}
