{{ if .Params.showPagination | default (.Site.Params.article.showPagination | default true) }}
  {{ if or .NextInSection .PrevInSection }}
    <div class="article-pagination">
      <hr />
      <div>
        <span>
          {{ if .PrevInSection }}
            <a class="flex text-right" href="{{ .PrevInSection.RelPermalink }}">
              <span class="article-pagination-direction mr-3">&larr;</span>
              <span class="flex flex-col">
                <span class="article-pagination-title">{{ .PrevInSection.Title }}</span>
                <span class="article-pagination-date">
                  {{ if .Params.showDate | default (.Site.Params.article.showDate | default true) }}
                    {{ partial "meta/date.html" .PrevInSection }}
                  {{ end }}
                </span>
              </span>
            </a>
          {{ end }}
        </span>
        <span>
          {{ if .NextInSection }}
            <a class="flex" href="{{ .NextInSection.RelPermalink }}">
              <span class="flex flex-col">
                <span class="article-pagination-title">{{ .NextInSection.Title }}</span>
                <span class="article-pagination-date">
                  {{ if .Params.showDate | default (.Site.Params.article.showDate | default true) }}
                    {{ partial "meta/date.html" .NextInSection }}
                  {{ end }}
                </span>
              </span>
              <span class="article-pagination-direction ml-3">&rarr;</span>
            </a>
          {{ end }}
        </span>
      </div>
    </div>
  {{ end }}
{{ end }}
