{{ if .Params.showAuthor | default (.Site.Params.article.showAuthor | default true) }}
  <div class="flex text-base text-neutral-500 dark:text-neutral-400">
    {{ with .Site.Author.image }}
      <img class="my-auto mr-4 h-16 w-16 rounded-full" src="{{ . | relURL }}" alt="Avatar" />
    {{ end }}
    <div class="place-self-center">
      {{ with .Site.Author.name | markdownify | emojify }}
        <div class="text-xs uppercase" aria-hidden="true">
          {{ i18n "author.byline_title" | markdownify | emojify }}
        </div>
        <div class="my-1 font-bold text-neutral-800 dark:text-neutral-300">
          {{ . }}
        </div>
      {{ end }}
      {{ with .Site.Author.bio | markdownify | emojify }}
        <div class="text-sm text-neutral-700 dark:text-neutral-400">{{ . }}</div>
      {{ end }}
      {{ partialCached "author-links.html" . }}
    </div>
  </div>
{{ end }}
