<div
  x-data="{ open: false }"
  @keydown.window.escape="open = false"
  class="sticky inset-x-0 top-0 z-10 bg-neutral-50/50 text-neutral-900 after:absolute after:left-0 after:top-0 after:-z-10 after:h-full after:w-full after:backdrop-blur-xl after:content-[''] dark:bg-neutral-800/60 dark:text-neutral-200"
>
  <div class="fixed z-10 flex h-screen w-48 lg:hidden" :class="open ? '' : 'hidden'" x-ref="dialog" aria-modal="true">
    <div
      class="fixed inset-0 bg-gray-950/25"
      :class="open ? '' : 'hidden'"
      x-show="open"
      x-transition:enter="transition-opacity ease-linear duration-300"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition-opacity ease-linear duration-300"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      x-description="Off-canvas menu overlay, show/hide based on off-canvas menu state."
      @click="open = false"
      aria-hidden="true"
    ></div>
    <div
      class="fixed inset-0 flex h-full w-full max-w-xxs flex-col overflow-y-auto bg-neutral-50 pb-12 shadow-xl dark:bg-neutral-800"
      :class="open ? '' : 'hidden'"
      x-show="open"
      x-transition:enter="transition ease-in-out duration-300"
      x-transition:enter-start="-translate-x-full"
      x-transition:enter-end="translate-x-0"
      x-transition:leave="transition ease-in-out duration-300"
      x-transition:leave-start="translate-x-0"
      x-transition:leave-end="-translate-x-full"
      x-description="Off-canvas menu, show/hide based on off-canvas menu state."
    >
      <div class="flex px-4 pb-2 pt-5">
        <button
          type="button"
          title="Close menu"
          class="-m-2 inline-flex items-center justify-center rounded-md p-2 text-neutral-400"
          @click="open = false"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            x-description="Heroicon name: outline/x"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <ul class="divide-y divide-neutral-200 py-4">
        {{ range .Site.Menus.main }}
          {{- $url := .URL | relLangURL -}}
          {{- with .Page -}}
            {{- $url = .RelPermalink -}}
          {{- end -}}
          <li
            class="{{ if $.IsMenuCurrent `main` . | or ($.HasMenuCurrent `main` .) | or (eq $.RelPermalink $url) }}
              bg-neutral-200 dark:bg-neutral-900
            {{ end }} flow-root px-4 py-2"
          >
            <a href="{{ .URL }}" title="{{ .Title }}" class="-m-2 block p-2 font-medium">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>

  <header class="dark:shadow-dark shadow">
    <nav class="container mx-auto flex max-w-7xl items-center px-6 leading-12 lg:px-8 xl:px-12" aria-label="Top">
      {{- if .Site.Params.Logo }}
        <a
          class="relative hidden p-2 align-middle lg:block"
          rel="me"
          href="{{ `/` | relURL }}"
          title="{{ .Site.Title }}"
        >
          <img src="{{ .Site.Params.Logo | relURL }}" class="h-8 w-auto" alt="{{ .Site.Title }}" />
        </a>
      {{- end }}


      <button class="lg:hidden" type="button" @click="open = true" aria-label="Open menu">
        <svg
          class="block h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
      <div class="mx-2 h-12 flex-grow">
        <div class="relative h-full w-full">
          <div class="absolute max-w-full" :class="up ? 'hidden' : ''" x-show="!up" x-transition.duration.750ms>
            <span class="overflow-hidden text-ellipsis whitespace-nowrap font-semibold tracking-wider"
              >{{ .Site.Title }}</span
            >
          </div>
          <template x-if="true">
            <div
              class="absolute left-0 right-0 top-0 max-w-full"
              :class="up ? '' : 'hidden'"
              x-show="up"
              x-transition.duration.750ms
            >
              <span class="overflow-hidden text-ellipsis whitespace-nowrap">{{ .Title | emojify }}</span>
            </div>
          </template>
        </div>
      </div>
      <ul class="ml-7 hidden shrink list-none flex-row justify-end lg:flex">
        {{ range .Site.Menus.main }}
          {{- $url := .URL | relLangURL -}}
          {{- with .Page -}}
            {{- $url = .RelPermalink -}}
          {{- end -}}
          <li
            class="{{ if $.IsMenuCurrent `main` . | or ($.HasMenuCurrent `main` .) | or (eq $.RelPermalink $url) }}
              border-primary-500
            {{ end }} mr-7 border-b-2 border-transparent text-right hover:border-primary-500"
          >
            <a class="" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
      <button id="switchTheme" class="flex h-8 w-8 items-center justify-center focus:outline-none">
        <span class="sr-only">Switch theme</span>
        <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <!-- ensure hugo captures these classes in hugo_stats.json when we run purgecss -->
        <span class="light"></span><span class="dark"></span>
      </button>
      <script>
        document.getElementById("switchTheme").addEventListener("click", function () {
          if (
            localStorage.theme === "dark" ||
            ((!("theme" in localStorage) || localStorage.theme === "auto") &&
              window.matchMedia("(prefers-color-scheme: dark)").matches)
          ) {
            document.documentElement.classList.remove("dark");
            localStorage.theme = "light";
          } else if (
            localStorage.theme === "light" ||
            ((!("theme" in localStorage) || localStorage.theme === "auto") &&
              window.matchMedia("(prefers-color-scheme: light)").matches)
          ) {
            document.documentElement.classList.add("dark");
            localStorage.theme = "dark";
          }
        });
      </script>
    </nav>
  </header>
</div>
