<!-- keep classes from being purged by postcss  -->
<!-- highlighter style -->
<pre class="chroma">
  <code>
    <span class="bp"></span>
    <span class="c"></span>
    <span class="c1"></span>
    <span class="ch"></span>
    <span class="cm"></span>
    <span class="cp"></span>
    <span class="cpf"></span>
    <span class="cs"></span>
    <span class="dl"></span>
    <span class="err"></span>
    <span class="fm"></span>
    <span class="g"></span>
    <span class="gd"></span>
    <span class="ge"></span>
    <span class="gh"></span>
    <span class="gi"></span>
    <span class="gl"></span>
    <span class="go"></span>
    <span class="gp"></span>
    <span class="gr"></span>
    <span class="gs"></span>
    <span class="gt"></span>
    <span class="gu"></span>
    <span class="hl"></span>
    <span class="il"></span>
    <span class="k"></span>
    <span class="kc"></span>
    <span class="kd"></span>
    <span class="kn"></span>
    <span class="kp"></span>
    <span class="kr"></span>
    <span class="kt"></span>
    <span class="l"></span>
    <span class="ld"></span>
    <span class="ln"></span>
    <span class="lnt"></span>
    <span class="lntable"></span>
    <span class="lntd"></span>
    <span class="m"></span>
    <span class="mb"></span>
    <span class="mf"></span>
    <span class="mh"></span>
    <span class="mi"></span>
    <span class="mo"></span>
    <span class="n"></span>
    <span class="na"></span>
    <span class="nb"></span>
    <span class="nc"></span>
    <span class="nd"></span>
    <span class="ne"></span>
    <span class="nf"></span>
    <span class="ni"></span>
    <span class="nl"></span>
    <span class="nn"></span>
    <span class="no"></span>
    <span class="nt"></span>
    <span class="nv"></span>
    <span class="nx"></span>
    <span class="o"></span>
    <span class="ow"></span>
    <span class="p"></span>
    <span class="py"></span>
    <span class="s"></span>
    <span class="s1"></span>
    <span class="s2"></span>
    <span class="sa"></span>
    <span class="sb"></span>
    <span class="sc"></span>
    <span class="sd"></span>
    <span class="se"></span>
    <span class="sh"></span>
    <span class="si"></span>
    <span class="sr"></span>
    <span class="ss"></span>
    <span class="sx"></span>
    <span class="vc"></span>
    <span class="vg"></span>
    <span class="vi"></span>
    <span class="vm"></span>
    <span class="w"></span>
    <span class="x"></span>
  </code>
</pre>
