{{ if and (gt .WordCount 400 ) (ne .Params.showTOC false) }}
  <aside class="sticky top-20 hidden h-2 flex-grow self-start pl-8 lg:block xl:pl-12">
    <div class="min-h-screen overflow-y-auto text-sm xl:text-base">
      <label class="font-bold">{{ i18n "article.table_of_contents" }}</label>
      {{ .TableOfContents }}
    </div>
  </aside>
  <script>
    window.addEventListener("DOMContentLoaded", () => {
      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          const id = entry.target.getAttribute("id");
          const elem = document.querySelector(`nav li a[href="#${id}"]`);
          if (elem !== null) {
            if (entry.intersectionRatio > 0) {
              elem.parentElement.classList.add("active");
            } else {
              elem.parentElement.classList.remove("active");
            }
          }
        });
      });
      const selectors = [];
      for (let i = 1; i <= 6; i++) {
        selectors.push(`article h${i}[id]`);
      }
      // Track all headers that have an `id` applied
      document.querySelectorAll(selectors.join()).forEach((h) => {
        observer.observe(h);
      });
    });
  </script>
{{ end }}
