<!-- prettier-ignore -->
{{ if .Get "src" }}
  {{- $image := .Page.Resources.GetMatch (printf "%s" (.Get "src" | safeURL)) -}}
  {{- $Permalink := .Get "src" | relURL | safeURL -}}
  {{- $Width := 0 -}}
  {{- $Height := 0 -}}
  {{- $Srcset := "" -}}

  {{- if $image -}}
    {{- $notSVG := ne (path.Ext $Permalink) ".svg" -}}
    {{- $Permalink = $image.RelPermalink -}}

    {{- if $notSVG -}}
      {{- $Width = $image.Width -}}
      {{- $Height = $image.Height -}}
      {{- with .Get "width" }} {{- $Width = . -}} {{ end -}}
      {{- with .Get "height" }} {{- $Height = . -}} {{ end -}}
      {{- $Min := .Page.Site.Params.imaging.minWidth | default 480 -}}
      {{- $Max := .Page.Site.Params.imaging.maxWidth | default 1024 -}}
      {{- if gt $Max $Width -}} {{ $Max = $Width }} {{- end -}}
      {{- if gt $Min $Width -}} {{ $Min = $Width }} {{- end -}}

      {{- if (.Page.Site.Params.imaging.enabled | default true) -}}
        {{- $small := $image.Resize (printf `%dx` $Min) -}}
        {{- $big := $image.Resize (printf `%dx` $Max) -}}
        {{- $Srcset = printf `%s %dw, %s %dw` $small.RelPermalink $Min $big.RelPermalink $Max -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  <figure {{- with .Get "class" }} class="{{ . }}"{{ end -}}>
  {{- if .Get "link" -}}
    <a href="{{ .Get "link" }}"
      {{ with .Get "target" }} target="{{ . }}"{{ end }}
      {{ with .Get "rel" }} rel="{{ . }}"{{ end }}
    >
  {{- end }}
  <img
    src="{{ $Permalink }}"
    {{ with $Width }}width="{{ . }}"{{ end }}
    {{ with $Height }}height="{{ . }}"{{ end }}
    {{ with $Srcset }}srcset="{{ . }}"{{ end }}
    loading="lazy"
    alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify | plainify }}{{ end }}"
    {{ with .Get "title" }}title="{{ . }}"{{ end }}
  />
  {{- if .Get "link" }}</a>{{ end -}}
  {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
    <figcaption>
      {{ with (.Get "title") -}}<h4>{{ . }}</h4>{{- end -}}
      {{- if or (.Get "caption") (.Get "attr") -}}<p>
        {{- .Get "caption" | markdownify -}}
        {{- with .Get "attrlink" }}<a href="{{ . }}">{{- end -}}
          {{- .Get "attr" | markdownify -}}
        {{- if .Get "attrlink" }}</a>{{ end }}</p>
      {{- end }}
    </figcaption>
  {{- end }}
  </figure>
{{- end }}
